<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Receipt
  </title>
  <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" >
  <link th:href="@{/css/now-ui-kit.css}"  rel="stylesheet" />
  <!--  <link rel="stylesheet" th:href="@{/css/style.css}">-->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/now-ui-kit.css?v=1.3.0" rel="stylesheet" />
  <!--  <link href="../static/css/style.css" rel="stylesheet" />-->
</head>

<body class="login-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
  <div class="container">
    <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-header">Dropdown header</a>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">One more separated link</a>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://demos.creative-tim.com/now-ui-kit/index.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
        Receipt
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="page-header clear-filter" filter-color="orange">
  <div class="content">
    <div class="container">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="text-center">
          <h1>Receipt</h1>
        </div>
        <div>
          <form class="form" method="" action="">
            <div class="row">

              </span>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Product</th>
                  <th>#</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="col-md-9"><em>Baked Rodopa Sheep Feta</em></h4></td>
                  <td class="col-md-1" style="text-align: center"> 2 </td>
                  <td class="col-md-1 text-center">R13</td>
                  <td class="col-md-1 text-center">R26</td>
                </tr>
                <tr>
                  <td class="col-md-9"><em>Lebanese Cabbage Salad</em></h4></td>
                  <td class="col-md-1" style="text-align: center"> 1 </td>
                  <td class="col-md-1 text-center">R8</td>
                  <td class="col-md-1 text-center">R8</td>
                </tr>
                <tr>
                  <td class="col-md-9"><em>Baked Tart with Thyme and Garlic</em></h4></td>
                  <td class="col-md-1" style="text-align: center"> 3 </td>
                  <td class="col-md-1 text-center">R16</td>
                  <td class="col-md-1 text-center">R48</td>
                </tr>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td class="text-right">
                    <p>
                      <strong>Subtotal: </strong>
                    </p>
                    <p>
                      <strong>Tax: </strong>
                    </p></td>
                  <td class="text-center">
                    <p>
                      <strong>R6.94</strong>
                    </p>
                    <p>
                      <strong>R6.94</strong>
                    </p></td>
                </tr>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td class="text-right"><h4><strong>Total: </strong></h4></td>
                  <td class="text-center text-danger"><h4><strong>R31.53</strong></h4></td>
                </tr>
                </tbody>
              </table>
              <div class="input-group no-border input-lg">
                <a class="btn btn-primary btn-round btn-lg btn-block">  PRINT </a>
              </div>
              </td>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class=" container-fluid ">
        <nav>
            <ul>
                <li>
                    <a href="/home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright" id="copyright">

            © 2022 Copyright: KasiChow
        </div>
    </div>
</footer>
</div>
</div>
</body>
</html>
